.site-item {
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 2px 3px 5px #000;
}

.site-item:hover {
    box-shadow: 2px 3px 16px #000;
}

.justify-content {
    justify-content: center;
}